body {
    background-color: #4862d4;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 20%;
    margin-top: 70px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}

.regBut {
    background-color: white;
    color: #4862d4;
}

.logBut {
    background-color: white;
    color: #4862d4;
    margin-left: 40px;
}

@media all and (max-width: 720px) {
    img {
        width: 30%;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .regBut {
        background-color: white;
        color: #4862d4;
        width: 110px;
        height: 40px;
    }
    
    .logBut {
        background-color: white;
        color: #4862d4;
        margin-top: 30px;
        margin-left: 0px;
        width: 90px;
        height: 40px;
    }
}