<!-- this refers to displaying the list of movies; movies refers to the movies variable -->
<div style='display: flex;'>
    <mat-card *ngFor='let item of movies;' style='flex: 1 1 auto'>
        <h4>Testing</h4>
        <mat-card-header>
            <mat-card-title>{{item.Title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{item.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{item.ImagePath}} alt= {{item.Title}} style='width: 20%' />
    </mat-card>
</div>